#image-container{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image {
     width: 200px;
     height: 200px;
     margin: auto;
     border: 1px solid black;
     border-radius: 10px;
}